#actualities {
    .actualities__title {
        position: relative;
            @include title;
    }
    .actualities__card {
        opacity: 0.9;
        text-align: center;
        button,
        a {
            width: 80%;
            margin: auto;
        }
    }
}