.carousel {
  width: 65%;
  margin: auto;
}

.slick-slide {
    img {
    height:400px;
    width: 100%;
    }
}

.slick-dots li button:before {
  font-size: 3.125rem;
}

.carousel {
  margin-top: 4rem;
}
