.contact__info__fa {
    color: $color-principal;
    font-size: 2em;
    padding-bottom: 0.5em;
    margin-top: 1.5rem;
}


.contact-info {
    h5 {
        font-weight: 700;
        text-decoration: underline;
        padding:0.5;
    }
}
