.nav {
    a {
        color: $color-principal;
    }

    &__link {
        color: $color-principal;
        font-size: 1.3em;
        margin-right: 2em;

        &:hover {
            color: $color-principal;
            // text-decoration: underline;
        }
    }
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: $color-principal;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
    {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: $color-principal;
    ;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}